@keyframes AnimationToggleDetails {
        from {
                height: 0;
                opacity: 0;
                
            }
        
            to {
                height: 300px;
                visibility: visible;
            }
}
.newTask {
    display: flex;
    align-items: center;
    padding-inline: 24px;
    width: 250px;
    background: white;
    height: 48px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    border-radius: 24px;

    &__title {
        font-size: 16px;
        color: black;
        font-weight: 400;
        margin-left: 12px;
    }

    &__input {
        background: transparent;
        outline: none;
        border: none;
        width: 100%;
        color: black;
        font-size: 16px;
        margin-left: 12px;

        &::placeholder {
            font-size: 14px;
            color: black;
            font-weight: 300;
        }
    }
}
.detailsTask{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 250px;
    visibility: hidden;
    background: white;
    padding: 6px 0;
    padding-inline: 24px;
    border-radius: 24px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    &__createWrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: rgba(240, 234, 234);
        padding: 12px;
        border-radius: 24px;
    }
}
.title{
    font-size: 16px;
    color: black;
}
.priorityWrapper{
    display: flex;
    flex-direction: column;
}
.priority{
    display: flex;
    gap: 6px;
    padding: 0;
    margin: 0;
    &__item.selected{
        background: #e35656!important;
        transition: background 0.2s ease, color 0.2s ease;
        color: white;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: black;
        width: fit-content;
        padding: 4px 6px;
        list-style: none;
        border-radius: 16px;
        background: #ed9696;
        cursor: pointer;
        &:hover{
            background: #e35656;
            transition: background 0.2s ease, color 0.2s ease;
            color: white;
        }
    }
}
.detailsTask.active{
    animation: AnimationToggleDetails 1s forwards;;
}