h1{
    text-align: center;
}
.infoTask{
    display: flex;
    margin-left: 12px;
    gap: 12px;
    &__text {
        color: white;
        max-width: 400px;
        white-space: pre-wrap
    }
    &__description{
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
.todoList{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
    padding-inline: 40px
}
.description {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    background: white;
    max-width: 50%;
    bottom: -50px;
    z-index: 2;
    left: 25%;
    right: 0;
    color: black;
    padding: 8px;
    border: 1px solid #dd8717;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    user-select: none;
    &::before,
    &::after{
        display: block;
        content: '';
        position: absolute;
        width: 2px;
        left: 15%;
        border: 10px solid transparent;
    }
}
.description::before{
    top: -20px;
    border-bottom: 10px solid #dd8717;
}
.description::after{
    top: -19px;
    border-bottom: 10px solid #fff;
}
.todoItem{
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid red;
    background: rgb(116, 114, 114);
    border: 1px solid rgb(143, 138, 141);
    position: relative;
}
.title{
    display: flex;
    align-items: center;
    font-size: 16px;

}
.sorted{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 6px;
    position: relative;
    z-index: 6;
    gap: 20px;
    &__status{
        display: flex;
        align-items: center;
        gap: 8px;
    & .sorted__item{
            text-transform: uppercase;
            cursor: pointer;
            color: #495057;
            width: fit-content;
            &:hover{
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                color: black;
            }
        }

    }
    &__priority{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: absolute;
        padding: 10px 12px;
        background: white;
        border-radius: 6px;
        z-index: 2;
        top: 50%;
        right: 0;
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: 0.3s;
    }
    &__wrapper.active{
        opacity: 1;
        transform: translateY(0);
        visibility: visible;        
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        line-height: 24px;
        font-size: 14px;
        color: black;
        list-style: none;
    }
}
.detailsTask{
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 6px;
    &__priority{
        border-radius: 6px;
        padding: 2px 6px;
        text-transform: uppercase;
        width: fit-content;
        height: fit-content;
    }
    &__status{
        text-transform: uppercase;
        width: fit-content;
        height: fit-content;
        border-radius: 12px;
        padding: 2px 12px;
        
    }
}
.checkbox {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    user-select: none;
    cursor: pointer;

    &__input {
        display: none;
    }

    &__indicator {
        width: 16px;
        height: 16px;
        position: relative;
        background: transparent;
        display: block;
        border: 1px solid white;
        border-radius: 4px;
        cursor: pointer;
        pointer-events: none;
        transition: 150ms ease-in-out;
    }

    &__indicator_active {
        width: 15px;
        height: 12px;
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% + 3px);
        transform: translate(-50%, -50%);
        color: #7B76FF;
        z-index: 1;
        transition: opacity 100ms ease-in-out;

        .path {
            stroke-dasharray: 20;
            stroke-dashoffset: 20;
            transition: all 150ms ease-in-out;
        }
    }

    &__input:checked + &__indicator {
        border-color: #7B76FF;

        .path {
            stroke-dashoffset: 0;
        }
    }
}
.priorityHigh{
    background: red;
}
.priorityMedium{
    background: rgb(221, 184, 115);
}
.priorityLow{
    background: green;
}
.todo{
    background: #0000FF;
}
.inProgress{
    background: #e5e526;
}
.done{
    background: #13ca56;
}
.editInput{
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    margin-left: 12px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    resize: none;
}